body{
	font-size:16px;
	font-family: 'Lobster', cursive;
	padding: 0px;
	margin: 0px;
}

#header-nav{
	height:75px;
	background-color: #F0E68C;
	border:1px solid black;
	border-radius: 0px;
}
.nav-brand h1{
	font-size: 1.5em;
	font-family: 'Acme', sans-serif;
}
div#collapsable-nav.navbar-collapse{
	border:0px;
}
h1{
	color: #4B0082;
	margin:5px auto 5px 15px;
	text-shadow: 2px 2px #00FF7F;
	line-height: .8;
}
#nav-list {
  margin-top: 20px;
  background-color: #32CD32;
  padding-bottom:5px;
}

#nav-list a {
  color: #951C49;
  text-align: center;
  padding-bottom:0px;
}
#nav-list a:hover {
  background: #8B008B;
  color:white;
  padding-bottom:-5px;
}
.collapsable-nav li{
	padding-top:10px;
	display: block;
	height:100%;
	padding:0px;
}

button.navbar-toggle.collapsed{
  margin-top:15px;
}

h3{
	margin-bottom: 15px;
}
#menu{
	background-color: #800080;
	color:white;
	padding:0px 5px 0px 5px;
	margin: 0px 10px 0px 10px;
}
/********** Large devices only **********/
@media (min-width: 1200px) {
#collapsable-nav#nav-list.items{
  visibility: hidden;
 }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

#collapsible-nav#nav-list.items{
  visibility: hidden;
 }
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	
#collapsable-nav#nav-list.items{
  visibility: hidden!important;
  display: none !important;
 }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
 
.visible-xs{
	position: relative;
    display: block;
} 
}
/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
button.navbar-toggle.collapsed {
	visibility: visible;
}

#collapsable-nav#nav-list.items{
  visibility: visible;
 }
}

